<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mysql" connectionString="server=127.0.0.1;uid=root;pwd=123456;database=edusys;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>